ansi2html==1.8.0
anyconfig==0.10.1
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
attrs==22.1.0
Babel==2.11.0
backcall==0.2.0
beautifulsoup4==4.11.1
bidict==0.22.0
binaryornot==0.4.4
biosppy==1.0.0
black==22.10.0
bleach==5.0.1
Brotli==1.0.9
build==0.9.0
cachetools==4.2.4
Cerberus==1.3.4
certifi @ file:///croot/certifi_1665076670883/work/certifi
cffi==1.15.1
chardet==4.0.0
chart-studio==1.1.0
click==8.1.3
cloudpickle==2.2.0
colour==0.1.5
contourpy==1.0.6
cookiecutter==1.7.3
coverage==6.5.0
cycler==0.11.0
dash==2.7.0
dash-auth==1.4.1
dash-bootstrap-components==1.2.1
dash-core-components==2.0.0
dash-cytoscape==0.3.0
dash-html-components==2.0.0
dash-table==5.0.0
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.6
distlib==0.3.6
dtreeviz==1.4.1
dynaconf==3.1.11
entrypoints==0.4
explainerdashboard==0.4.0
fastjsonschema==2.16.2
filelock==3.8.0
flake8==3.9.2
Flask==2.2.2
Flask-Compress==1.13
Flask-SeaSurf==1.1.1
flask-simplelogin==0.1.1
Flask-WTF==0.15.1
fonttools==4.38.0
fsspec==2022.1.0
gevent==22.10.2
gitdb==4.0.9
GitPython==3.1.29
graphviz==0.20.1
greenlet==2.0.1
h5py==3.7.0
idna==2.10
imageio==2.22.4
iniconfig==1.1.1
interpret==0.3.0
interpret-core==0.3.0
ipykernel==6.17.0
ipython==7.34.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
isort==5.10.1
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
jinja2-time==0.2.0
jmespath==0.10.0
joblib==1.2.0
json5==0.9.10
jsonschema==4.17.0
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-dash==0.4.2
jupyter-server==1.23.0
jupyter_client==7.4.4
jupyter_core==4.11.2
jupyterlab==3.5.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
jupyterlab_server==2.16.2
kedro==0.18.1
kedro-telemetry==0.2.1
kiwisolver==1.4.4
lime==0.2.0.1
llvmlite==0.39.1
lxml==4.9.1
MarkupSafe==2.1.1
matplotlib==3.6.2
matplotlib-inline==0.1.6
mccabe==0.6.1
mistune==2.0.4
mlxtend==0.21.0
multiprocess==0.70.14
mypy-extensions==0.4.3
nbclassic==0.4.8
nbclient==0.7.0
nbconvert==7.2.3
nbformat==5.7.0
nbstripout==0.6.1
nest-asyncio==1.5.6
networkx==2.8.8
notebook==6.5.2
notebook_shim==0.2.2
numba==0.56.4
numpy==1.23.4
opencv-python==4.6.0.66
oyaml==1.0
packaging==21.3
pandas==1.5.1
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.10.1
patsy==0.5.3
pep517==0.13.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.3.0
pip-tools==6.9.0
pipenv==2022.10.12
platformdirs==2.5.2
plotly==5.11.0
plotly-express==0.4.1
pluggy==1.0.0
poyo==0.5.0
pretty-jupyter==2.0.2
prometheus-client==0.15.0
prompt-toolkit==3.0.32
psutil==5.9.4
ptyprocess==0.7.0
py==1.11.0
pycodestyle==2.7.0
pycparser==2.21
pyflakes==2.3.1
Pygments==2.13.0
pyparsing==3.0.9
pyrsistent==0.19.2
pytest==6.2.5
pytest-cov==3.0.0
pytest-mock==1.13.0
python-dateutil==2.8.2
python-json-logger==2.0.4
python-slugify==6.1.2
pytz==2022.6
PyWavelets==1.4.1
PyYAML==5.4.1
pyzmq==24.0.1
qtconsole==5.4.0
QtPy==2.3.0
requests==2.25.1
retrying==1.3.4
rope==0.21.1
SALib==1.4.6.1
scikit-image==0.19.3
scikit-learn==1.1.3
scipy==1.9.3
seaborn==0.12.1
Send2Trash==1.8.0
shap==0.41.0
shortuuid==1.0.10
six==1.16.0
skope-rules==1.0.1
slicer==0.0.7
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.3.2.post1
statsmodels==0.13.5
tenacity==8.1.0
terminado==0.17.0
text-unidecode==1.3
threadpoolctl==3.1.0
tifffile==2022.10.10
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
toposort==1.7
tornado==6.2
tqdm==4.64.1
traitlets==5.5.0
treeinterpreter==0.2.3
ua-parser==0.16.1
urllib3==1.26.12
virtualenv==20.16.5
virtualenv-clone==0.5.7
waitress==2.1.2
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.2
Werkzeug==2.2.2
widgetsnbextension==4.0.3
WTForms==3.0.1
xgboost==1.7.1
zope.event==4.5.0
zope.interface==5.5.2
